div {
    width: 200px;
    height: 200px;
    background-color: #ca6702;
}

h1 {
    background-color: #ca6702;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 0px;
}

#one {
    background-color: blue;
    border-width: 5px;
    border-color: #001219;
    border-style: solid;
}

#two {
    background-color: yellow;
    border-width: 10px;
    border-color: #001219;
    border-style: solid;
}

#three {
    background-color: grey;
    border: 4px solid black;
}