<%- include('head.ejs') %>


<body>
    <div class="container">
        <%- include('navbar.ejs') %>

        <h1>Home Page <%=4+9%> </h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus magnam hic quibusdam, quaerat distinctio
            esse numquam fuga tempora quo eaque ratione. Non corporis, molestias beatae modi maiores illo voluptatem
            deleniti?</p>
</body>

</html>