.Navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
}

.Logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: Roboto;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo a {
    text-decoration: none;
    color: black;

}